@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.dark {
    background-color: darkcyan;
    border: solid 1px darkcyan;
}

.showDetail {
    text-align: center;
    margin: 10%;
    margin-top: 5%;
}

.detailsImg {
    height: 500px;
}

.detailsName {
    font-family: 'Abril Fatface';
    font-size: 40pt;
}

.dark .detailsName, .dark .description {
    color: cornsilk;
}

.status {
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 15pt;
}

.dark .status {
    color: salmon;
}

.description {
    font-family: 'Nunito';
    font-size: 14pt;
}